/* ------------------------------------------------- Profile --------------------------- */

.account-img {
  height: 7.8125rem;
  width: 7.8125rem;
  margin-bottom: 1rem;
}

.account-heading {
  font-size: 2.5rem;
}

.img-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  display: block;
}

.media-body {
  max-width: 100%;
  text-align: center;
}

/* ---------------------------------------------------Media Queries -------------------------- */

@media (min-width: 991px) {
  .content-section {
    max-width: 900px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .content-section {
        margin-top: 50px;
  }
}



