autopep8
boto3
botocore
certifi
chardet
coverage
dj-database-url
Django
django-bootstrap-tags
django-countries
django-crispy-forms
django-filter
django-foreign-fields
django-forms-bootstrap
django-storages
docutils
future
gunicorn
idna
jmespath
mock
mock-django
pep8
Pillow
psycopg2-binary
pycodestyle
python-dateutil
python-http-client
Python-Rest-Framework
pytz
requests
s3transfer
sendgrid
sendgrid-django
six
sqlparse
stripe
urllib3
whitenoise
