{% extends 'base.html' %}
{% block content %}
    
    <!-- Details for a single post -->
    <h1 class="posttitle">{{ post.title }}</h1>
    {% if post.published_date %}
        <div class="date postdate">
            Written by <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a> on {{post.published_date|date:"D M Y"}}
        </div>
    {% else %}
        {% if post.author.id == user.id %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    {% endif %}
    
    <p class="postcontent">{{ post.text|safe|linebreaksbr }}</p>
    
    <!-- Likes count -->
    {% if total_likes != 1 %}
    <p>{{ total_likes }} Likes</p>
    {% else %}
    <p>{{ total_likes }} Like</p>
    {% endif %}
    
    
    {% if post.author != request.user %}
    <!-- Form for likes/dislikes -->
    <form action="{% url 'like_post' %}" method="POST">
        {% csrf_token %}
        {% if is_liked %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Dislike</button>
        {% else %}
         <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
        {% endif %}
    </form>
    {% endif %}
    
    <!-- Buttons for editing and removing posts -->
    {% if user.is_authenticated %}
        {% if post.author.id == user.id %}
        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-edit"></i></a>
        <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}"><i class="fa fa-remove"></i></a>
        {% endif %}
    {% endif %}
    
    <!-- Button for adding a comment -->
    <hr>
    <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
    
    <!-- Comments container with details of all comments -->
    <!-- If the comment is approved show the comment and the creation date -->
    <!-- If the comment is not approved add buttons for removing and approving the comment for the superuser-->
    <!-- If there are no comments add a paragraph with a text of 'No Comments' -->
    <div class="container">
        {% for comment in post.comments.all %}
        <br>
            {% if user.is_authenticated %}
                {% if not comment.approved_comment %}
                    {% if user.is_superuser %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><i class="fa fa-remove"></i></a>
                        <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}"><i class="fa fa-check"></i></a>
                    {% endif %}
                {% endif %}
                
                {% if comment.approved_comment %}
                    <p>{{ comment.created_date }}</p>
                    <p>{{comment.text|safe|linebreaks}}</p>
                    <p>Posted By: {{comment.author}}</p>
                {% endif %}
            {% endif %}
            {% empty %}
            <p>No Comments</p>
        {% endfor %}
    </div>
{% endblock %}