{% extends "base.html" %} {% load static %} {% block content %}
<div class="centerstage">

    <!-- Search through posts if there are any-->
    {% if post_list %}
    <div class="container">
        <div class="display">
            {% if 'drafts/' in request.path %}
            <form action="{% url 'search_drafts' %}" method="GET">
                <input type="text" class="col-md-8" name="posts">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            {% else %}
            <form action="{% url 'search_posts' %}" method="GET">
                <input type="text" class="col-md-8" name="posts">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Post list -->
    {% for post in post_list %}
    <div class="post">
        <img class="rounded-circle" src="{{ post.author.profile.image.url }}">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
            <p>Written by <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a> on {{post.published_date|date:"D M Y"}}</p>
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
    </div>
    {% endfor %}

    <!-- Pagination for posts -->
    {% if is_paginated %}
    <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">
            
            <!-- Pagination if the page has previous pages -->
            {% if page_obj.has_previous %}
            <!--Arrow left-->
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">First
                  <span class="sr-only">First</span>
                </a>
                <a class="page-link" href="?page= {{ page_obj.previous_page_number }}" aria-label="Previous">Previous
                  <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}

            <!-- Get the current page and check if the page number is within three previous or three next pages -->
            {% for num in page_obj.paginator.page_range %} 
                {% if page_obj.number == num %}
                   <li class="page-item active">
                       <a class="page-link" href="?page={{ num }}">{{ num }}
                           <span class="sr-only">(current)</span>
                       </a>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                       <a class="page-link" href="?page={{ num }}">{{ num }}
                           <span class="sr-only">(current)</span>
                       </a>
                    </li>
                {% endif %} 
            {% endfor %}
            
            <!-- Pagination if the page has next pages -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next
                  <span class="sr-only">Next</span>
                </a>
                <a class="page-link" href="?page={{ page_obj.pagination.num_pages }}" aria-label="Last">Last
                  <span class="sr-only">Last</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
<!-- Include forum-box -->
{% block forum %} {% include 'includes/forum-box.html' %} {% endblock %}
