/* -------------------------------------------------Footer------------------------------------------------- */

 .footer {
  width: auto;
  background-color: black;
  bottom: 0;
  position: relative;
  text-align: center;
  line-height: 10%;
  height: 100px;
 }

 .footer__copyright {
  color: white;
  line-height: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
 }

 .footer__copyright a {
  color: white;
  margin-left: 10px;
 }
