{% load cart_template_tags %}

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->

      <ul class="navbar-nav mr-auto">
        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="{% url 'home' %}">
          <strong>Auction Place</strong>
        </a>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'profile' %}"><i class="fa fa-user"></i>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i>Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'post_list' %}"><i class="fa fa-comments"></i>Forum</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'order_summary' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1">{{ request.user|cart_item_count }}</span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'login' %}"><i class="fa fa-sign-in-alt"></i>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'registration' %}"><i class="fa fa-user-plus"></i> Register</a>
        </li>
        {% endif %}
      </ul>

    </div>

  </div>
</nav>
