<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'index' %}">E-commerce</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a> {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</span></a>
                    <a class="nav-item nav-link" href="{% url 'registration' %}"><i class="fa fa-user-plus"></i> Register</a> {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
