{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Products -->
<div class="container">

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

    <!-- Navbar brand -->
    <span class="navbar-brand">Categories:</span>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">All
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_dresses' %}">Dresses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_shoes' %}">Shoes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_suits' %}">Suits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_veils' %}">Veils</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_rings' %}">Rings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_flowers' %}">Flowers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_hair_accessories' %}">Hair Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_purses' %}">Purses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_shirts' %}">Shirts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filter_by_belts' %}">Belts</a>
        </li>
      </ul>

      <form class="form-inline" action="{% url 'search_products' %}" method="GET">
        {% csrf_token %}
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" id="search_box" type="text" name="item_search" placeholder="What are you looking for?" aria-label="Search">
        </div>
      </form>
    </div>
  </nav>


  <!--Section: Products v.3-->
  <section class="text-center mb-4">

    <div class="row wow fadeIn">

      {% for item in object_list %}
      <div class="col-lg-3 col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img src="{{ item.image.url }}" class="card-img-top" alt="product-image">
            <a href="{{ item.get_absolute_url }}">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="{% url 'filter_by_tags' item.category %}" class="grey-text">
              <h5 class="badge badge-pill {{ item.get_label_display }}-color">{{ item.get_category_display }}</h5>
            </a>
            <h5>
              <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title|title }}
                    </a>
                  </strong>
            </h5>
            <h4 class="font-weight-bold blue-text">
              {% if item.discount_price %}
              <span class="mr-1">
                  <del>£{{ item.price|floatformat }}</del>
                </span>
              <span>£{{ item.get_discount_price|floatformat }}</span> {% else %}
              <span>£{{ item.price|floatformat }}</span> {% endif %}
          </div>
        </div>

      </div>
      {% endfor %}

    </div>

  </section>

  <!-- Pagination for all products -->
  {% if 'search_products/' in request.path or 'filter/' in request.path %}
  {% if object_list.has_other_pages %}
  <nav class="d-flex justify-content-center wow fadeIn">
    <ul class="pagination pg-blue">

      <!-- Pagination if the page has previous pages -->
      {% if object_list.has_previous %}
      <!--Arrow left-->
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">First
                  <span class="sr-only">First</span>
                </a>
        <a class="page-link" href="?page= {{ object_list.previous_page_number }}" aria-label="Previous">Previous
                  <span class="sr-only">Previous</span>
                </a>
      </li>
      {% endif %}

      <!-- Get the current page and check if the page number is within three previous or three next pages -->
      {% for num in object_list.paginator.page_range %} {% if object_list.number == num %}
      <li class="page-item active">
        <a class="page-link" href="?page={{ num }}">{{ num }}
            <span class="sr-only">(current)</span>
        </a>
      </li>
      {% elif num > object_list.number|add:'-3' and num < object_list.number|add:'3' %} <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}
                           <span class="sr-only">(current)</span>
                       </a>
        </li>
        {% endif %} 
        {% endfor %}

        <!-- Pagination if the page has next pages -->
        {% if object_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Next">Next
                  <span class="sr-only">Next</span>
                </a>
          <a class="page-link" href="?page={{ object_list.paginator.num_pages }}" aria-label="Last">Last
                  <span class="sr-only">Last</span>
                </a>
        </li>
        {% endif %}
    </ul>
  </nav>
  {% endif %}
  {% else %}
  <!-- Pagination for search and filters -->
  {% if is_paginated %}
  <nav class="d-flex justify-content-center wow fadeIn">
    <ul class="pagination pg-blue">

      <!-- Pagination if the page has previous pages -->
      {% if page_obj.has_previous %}
      <!--Arrow left-->
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">First
                  <span class="sr-only">First</span>
                </a>
        <a class="page-link" href="?page= {{ page_obj.previous_page_number }}" aria-label="Previous">Previous
                  <span class="sr-only">Previous</span>
                </a>
      </li>
      {% endif %}

      <!-- Get the current page and check if the page number is within three previous or three next pages -->
      {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
      <li class="page-item active">
        <a class="page-link" href="?page={{ num }}">{{ num }}
            <span class="sr-only">(current)</span>
        </a>
      </li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}
                           <span class="sr-only">(current)</span>
                       </a>
        </li>
        {% endif %} 
        {% endfor %}

        <!-- Pagination if the page has next pages -->
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next
                  <span class="sr-only">Next</span>
                </a>
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">Last
                  <span class="sr-only">Last</span>
                </a>
        </li>
        {% endif %}
    </ul>
  </nav>
  {% endif %}
  {% endif %}
</div>
{% endblock %} {% block custom_js %}
<script type="text/javascript" src="{% static 'js/ajax_search.js' %}"></script>
{% endblock %}
