{% extends 'base.html' %} {% load static %} {% block custom_css %}
<link rel="stylesheet" href="{% static 'css/stripe.css' %}" type="text/css" /> {% endblock %} {% block content %}
<!-- Checkout form -->
<div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Payment</h2>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-4">

            <!--Card-->
            <div class="card">

                <script src="https://js.stripe.com/v3/"></script>

                {% if card %}
                <div style="padding: 5px 30px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="use_default_card" id="use_default_card">
                        <label class="custom-control-label" for="use_default_card">Use default card: **** **** **** {{ card.last4 }}
                        <span>Exp: {{ card.exp_month }}/{{ card.exp_year }}</span>
                        </label>
                    </div>
                </div>
                {% endif %}

                <div class="current-card-form">
                    <form action="." method="POST" class="stripe-form">
                        {% csrf_token %}
                        <input type="hidden" name="use_default" value="true">
                        <div class="stripe-form-row">
                            <button id="stripeBtn">Submit Payment</button>
                        </div>
                        <div id="card-errors" role="alert"></div>
                    </form>
                </div>

                <div class="new-card-form">
                    <form action="." method="POST" class="stripe-form" id="stripe-form">
                        {% csrf_token %}
                        <div class="stripe-form-row" id="creditCard">
                            <label for="card-element" id="stripeBtnLabel">Credit or debit card</label>
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>
                        <div class="stripe-form-row">
                            <button id="stripeBtn">Submit Payment</button>
                        </div>
                        <div class="stripe-form-row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="save" id="save_card_info">
                                <label class="custom-control-label" for="save_card_info">Save for future purchases</label>
                            </div>
                        </div>
                        <div id="card-errors" role="alert"></div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Order Snippet -->
        {% include 'includes/order_snippet.html' %}
    </div>
</div>
{% endblock %} {% block custom_js %}
<script type="text/javascript" src="{% static 'js/custom/stripe.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom/payment.js' %}"></script>
{% endblock %}
