<!-- Likes count -->
<p id = "total-likes">{{ total_likes }} Like{{ total_likes|pluralize }}</p>



{% if post.author != request.user and request.user.is_authenticated %}
<!-- Form for likes/dislikes -->
<form id = "like-form" method="POST">
    {% csrf_token %}
    <input type = "hidden" id = "like-form-input" value="{{ post.pk }}">
    <a href = "{% url 'like_post' pk=post.pk %}">
        <button type="submit" name="post_id" id = "like-post" class="btn btn-primary">Like</button>
    </a>
    <a href = "{% url 'dislike_post' pk=post.pk %}">
        <button type="submit" name="post_id" id = "dislike-post" class="btn btn-danger">Dislike</button>
    </a>
</form>
{% endif %}
