{% extends 'base.html' %} {% load static %} {% block custom_title %}
<title>{{ post.title }}</title>
{% endblock %} {% block content %}

<!-- Details for a single post -->
<div class="post-details">
    <h2 class="posttitle">{{ post.title }}</h2>
    {% if post.published_date %}
    <div class="date postdate">
        Written by <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>on {{post.published_date|date:"D M Y"}}
    </div>
    {% else %} {% if post.author == request.user %}
    <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a> {% endif %} {% endif %}
    
    <!-- Post text -->
    <p class="postcontent">{{post.text|striptags|safe|linebreaksbr}}</p>

    <!-- Include likes-form-->
    <div id="like-comment-section">
        {% include 'forum/likes_form.html' %}
    </div>

    <!-- Buttons for editing and removing posts -->
    {% if user.is_authenticated %} {% if post.author == request.user %}
    <a class="post-edit" href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-edit"></i></a>
    <a class="post-remove ml-3" href="{% url 'post_remove' pk=post.pk %}"><i class="fa fa-trash-alt"></i></a> {% endif %} {% endif %}

    <!-- Button for adding a comment -->
    <hr>
    <!-- Add comment button only if the post is published -->
    {% if post.published_date %}
    <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a> {% endif %}

    <!-- Comments container with details of all comments -->
    <!-- If the comment is approved show the comment and the creation date -->
    <!-- If the comment is not approved add buttons for removing and approving the comment for the superuser-->
    <!-- If there are no comments add a paragraph with a text of 'No Comments' -->
    <div class="container comments-container">
        {% for comment in post.comments.all %} {% if user.is_authenticated %} {% if not comment.approved_comment %} {% if user.is_superuser %}
        <div>
        <!-- Post comment author profile image -->
        {% if comment.author.profile.image %}
            <img class="rounded-circle mt-5 mb-2" src="{{ post.author.profile.image.url }}" width="70" height="70" alt="profile-image">
        {% else %}
            <img class="rounded-circle mt-5 mb-2" src="{% static 'img/avatar.png' %}" width="70" height="70" alt="profile-image">
        {% endif %}
        <p>{{ comment.created_date }}</p>
        <p>{{comment.text|safe|linebreaks}}</p>
        <p>Posted By: {{comment.author}}</p>
        <a class="comment-remove" href="{% url 'comment_remove' pk=comment.pk %}"><i class="fa fa-trash-alt"></i></a>
        <a class="ml-3" href="{% url 'comment_approve' pk=comment.pk %}"><i class="fa fa-check"></i></a>
        </div>
        {% endif %} {% endif %} {% if comment.approved_comment and not comment.reply %}
        
        <div>
        <!-- Post comment author profile image -->
        {% if comment.author.profile.image %}
            <img class="rounded-circle mt-5 mb-2" src="{{ comment.author.profile.image.url }}" width="70" height="70" alt="profile-image">
        {% else %}
            <img class="rounded-circle mt-5 mb-2" src="{% static 'img/avatar.png' %}" width="70" height="70" alt="profile-image">
        {% endif %}
        <p>{{ comment.created_date }}</p>
        <p>{{comment.text|safe|linebreaks}}</p>
        <p>Posted By: {{comment.author}}</p>

        <div>
            <!-- Comment edit and delete buttons -->
            {% if comment.author == request.user %}
            <a class="comment-edit" href="{% url 'comment_edit' pk=comment.pk %}"><i class="fa fa-edit"></i></a>
            <a class="comment-remove ml-3" href="{% url 'comment_remove' pk=comment.pk %}"><i class="fa fa-trash-alt"></i></a> {% endif %}

            <!-- Reply button and reply blockquote container-->
            <a class="ml-3 btn-reply" href="{% url 'add_reply_to_comment' pk=post.pk id=comment.id %}">Reply</a>
        </div>
        </div>
        {% if comment.replies.count == 1 %}
        <p class="mt-2 toggle-replies toggle-comment-{{forloop.counter}}"><strong>View reply</strong><i class="ml-2 mt-2 fa fa-angle-down"></i></p>
        {% elif comment.replies.count != 0 and comment.replies.count > 1 %}
        <p class="mt-2 toggle-replies toggle-comment-{{forloop.counter}}"><strong>View {{comment.replies.count}} replies</strong><i class="ml-2 mt-2 fa fa-angle-down"></i></p>
        {% endif %}
        {% endif %}
            {% for reply in comment.replies.all %}
            <div class="ml-5 comment-reply reply-{{forloop.parentloop.counter}}">
            <!-- Post comment reply author profile image -->
            {% if reply.author.profile.image %}
                <img class="rounded-circle mt-3 mb-2" src="{{ reply.author.profile.image.url }}" width="70" height="70" alt="profile-image">
            {% else %}
                <img class="rounded-circle mt-3 mb-2" src="{% static 'img/avatar.png' %}" width="70" height="70" alt="profile-image">
            {% endif %}
            <p>{{ reply.created_date}}</p>
            <p>{{reply.text|safe|linebreaks|striptags}}</p>
            <p>Posted By: {{ reply.author|striptags }}</p>
            <div>
                <a class="comment-edit" href="{% url 'edit_reply' pk=post.pk id=reply.id %}"><i class="fa fa-edit"></i></a>
                <a class="comment-remove ml-3" href="{% url 'reply_remove' pk=reply.pk %}"><i class="fa fa-trash-alt"></i></a>
            </div>
            </div>
            {% endfor %}
        {% endif %} {% empty %}
        <p class="no-comments"><strong>No comments</strong></p>
        {% endfor %}
    </div>
</div>
{% endblock %}
<!-- Include forum-box -->
{% block forum %} {% include 'includes/forum-box.html' %} {% endblock %} {% block custom_js %}
<script src="{% static 'js/custom/ajax_likes.js' %}"></script>
<script src="{% static 'js/custom/toggle_replies.js' %}"></script>
{% endblock %}
