{% extends 'base.html' %}
{% block custom_title %}
<title>Edit {{ form.title.value }}</title>
{% endblock %}
{% block content %}

    <!-- Form for editing a post -->
    <h1>Edit {{ form.title.value }}</h1>
    <form class="post-form" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="button" class="save btn back-button btn-primary">Back To Forum</button>
        <button type="submit" class="save btn btn-warning">Save Post</button>
    </form>
{% endblock %}

<!-- Include forum-box -->
{% block forum %}
    {% include 'includes/forum-box.html' %}
{% endblock %}