{% extends "base.html" %} {% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="centerstage">

    <!-- Search through posts if there are any-->
    {% if post_list.count > 0 %}
    <div class="container">
        <div class="display">
            {% if 'drafts/' in request.path %}
            <form class="custom-height-form" action="{% url 'search_drafts' %}" method="POST">
                {% csrf_token %}
                <input type="text" id="search_drafts" class="col-md-8" name="drafts">
                <button id="btn-search" class="btn btn-primary" type="submit">Search</button>
            </form>
            
            <div id="search-typeahead" class="mb-5 col-md-8">
                <ul id="search-results-drafts">

                </ul>
            </div>
            {% else %} 
            <form class="custom-height-form" action="{% url 'search_posts' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="search_posts" class="col-md-8" name="posts">
            <button id="btn-search" class="btn btn-primary" type="submit">Search</button>
            </form>

            <div id="search-typeahead" class="mb-5 col-md-8">
                <ul id="search-results-posts">

                </ul>
            </div>
            {% endif %}
        </div>
        {% if 'search_drafts/' in request.path %} {% if draft_list_count == 1 %}
        <p>{{ draft_list_count }} draft has been found</p>
        {% else %}
        <p>{{ draft_list_count }} drafts have been found</p>
        {% endif %} {% elif 'search_posts/' in request.path %} {% if post_list_count == 1 %}
        <p>{{ post_list_count }} post has been found</p>
        {% else %}
        <p>{{ post_list_count }} posts have been found</p>
        {% endif %} {% endif %}
    </div>
    {% if 'search_drafts/' in request.path %}
    <p>No drafts have been found</p>
    {% elif 'search_posts/' in request.path %}
    <p>No posts have been found</p>
    {% endif %} {% endif %}

    <!-- Post list -->
    {% for post in post_list %}
    <div class="post">
        {% if post.author.profile.image %}
        <img class="rounded-circle" src="{{ post.author.profile.image.url }}" alt="profile-image">
        {% else %}
        <img class="rounded-circle" src="{% static 'img/avatar.png' %}" width="70" height="70" alt="profile-image">
        {% endif %}
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
            {% if 'drafts/' not in request.path %}
            <p>Written by <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a> on {{post.published_date|date:"D M Y"}}</p>
            {% endif %}
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments:
        {% if post.comments.count > 0 %}
        {% for comment in post.comments.all %}
            {% if comment.approved_comment and not comment.reply %}
                {{ comment.comments_excluding_replies.count }}
            {% endif %}
            
        {% endfor %}
        {% else %}
        0
        {% endif %}
        </a>
    </div>
    {% endfor %}


    <!-- Pagination for posts -->
    {% if is_paginated %}
    <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

            <!-- Pagination if the page has previous pages -->
            {% if page_obj.has_previous %}
            <!--Arrow left-->
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">First
                  <span class="sr-only">First</span>
                </a>
                <a class="page-link" href="?page= {{ page_obj.previous_page_number }}" aria-label="Previous">Previous
                  <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}

            <!-- Get the current page and check if the page number is within three previous or three next pages -->
            {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ num }}">{{ num }}
                           <span class="sr-only">(current)</span>
                       </a>
            </li>
            {% elif num > page_obj.number|add:'-3' and num
            < page_obj.number|add: '3' %} <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}
                           <span class="sr-only">(current)</span>
                       </a>
                </li>
                {% endif %} {% endfor %}

                <!-- Pagination if the page has next pages -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next
                  <span class="sr-only">Next</span>
                </a>
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">Last
                  <span class="sr-only">Last</span>
                </a>
                </li>
                {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
<!-- Include forum-box -->
{% block forum %} {% include 'includes/forum-box.html' %} {% endblock %} {% block custom_js %}
<script type="text/javascript" src="{% static 'js/custom/search_posts.js' %}"></script>
{% endblock %}
