{% extends 'base.html' %}
{% block custom_title %}
<title>Add reply</title>
{% endblock %}
{% block content %}
    
    <!-- Form for adding a new reply -->
    <h1>New Reply</h1>
    <form class="post-form" method="POST">
        {% csrf_token %}
        <input type = "hidden" name="comment_id" value={{ comment.id }}>
        {{ form.as_p }}
        <button type="button" class="save btn back-button btn-primary">Back To Post</button>
        <button type="submit" class="save btn btn-warning">Save Reply</button>
    </form>
{% endblock %}


<!-- Include forum-box -->
{% block forum %} {% include 'includes/forum-box.html' %} {% endblock %}