{% extends "base.html" %} {% load static %}
{% block custom_title %}
<title>User posts</title>
{% endblock %}
{% block content %}
<div class="centerstage">

    <!-- Search through posts -->
    <div class="container">
        <div class="display">
            <form action="{% url 'search_posts' %}" method="GET">
                <input type="text" name="posts">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    
    <!-- Heading specifying the user who created the posts and the posts count -->
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    
    
    <!-- Post list -->
    {% for post in post_list %}
    <div class="post">
        {% if post.author.profile.image %}
        <img class="rounded-circle" src="{{ post.author.profile.image.url }}" alt="profile-image">
        {% else %}
        <img class="rounded-circle" src="{% static 'img/avatar.png' %}" width = "70" height = "70" alt="profile-image">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
            <p>Written by <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a> on {{post.published_date|date:"D M Y"}}</p>
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
    </div>
    {% endfor %}
    
    <!-- Pagination for posts -->
    {% if is_paginated %}
    
        <!-- Pagination if the page has previous pages -->
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        
        <!-- Get the current page and check if the page number is within three previous or three next pages -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        <!-- Pagination if the page has next pages -->
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
<!-- Include forum-box -->
{% block forum %} {% include 'includes/forum-box.html' %} {% endblock %}
