{% extends 'base.html' %}
{% block custom_title %}
<title>Contact us</title>
{% endblock %}
{% block content %}
<!--Section: Contact-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" method="POST">
                {% csrf_token %}
                 <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Your name</label>{{ form.name }}
                        </div>
                    </div>

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your email</label> {{ form.email }}
                        </div>
                    </div>
                </div>

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label> {{ form.subject }}
                        </div>
                    </div>
                </div>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            {{ form.message }}
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <div class="text-center text-md-left">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Sibiu, Street Teilor, Nr. 26</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+40 0765 890 345</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>weddingplanner@email.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}