{% extends 'base.html' %} {% load crispy_forms_tags %} 
{% load countries %}
{% block custom_title %}
<title>Checkout</title>
{% endblock %} {% load static %} {% block content %}
<!-- Checkout form -->
<div class="container wow fadeIn">

  <!-- Heading -->
  <h2 class="my-5 h2 text-center">Checkout form</h2>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-8 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card content-->
        <form method="POST" class="card-body">
          {% csrf_token %}

          <h3>Shipping address</h3>
          <div class="hideable_shipping_form">

            <!--address-->
            <div class="md-form mb-5">
              <input type="text" placeholder="1234 Main St" id="shipping_address" value="{{order.shipping_address.street_address}}" name="shipping_address" class="form-control" required />
              <label for="shipping_address" class="">Address</label>
            </div>

            <!--address-2-->
            <div class="md-form mb-5">
              <input type="text" placeholder="Appartment or suite" id="shipping_address2" value="{{order.shipping_address.appartment_address}}" name="shipping_address2" class="form-control" required/>
              <label for="shipping_address2" class="">Address 2 (optional)</label>
            </div>

            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">
                <label for="id_shipping_country">Country</label>{% get_countries as countries %}
                <select name="shipping_country" id="id_shipping_country" class="custom-select d-block w-100" required>
                  {% if order.shipping_address.country %}
                    <option value="{{ order.shipping_address.country.code }}" selected>{{ order.shipping_address.country.name }}</option>
                    {% else %}
                    <option value="select-country" selected>(select country)</option>
                    {% endif %}
                  {% for country in countries %}
                    <option value="{{ country.code }}">{{ country.name }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <label for="shipping_zip_code">Zip</label>
                <input type="text" placeholder="Zip code" id="shipping_zip_code" value="{{order.shipping_address.zip_code}}" name="shipping_zip_code" class="form-control" minlength='6' maxlength='12' required />
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>

            <div class="custom-control custom-checkbox">
              {% if order.same_billing_address == True %}
              <input type="checkbox" class="custom-control-input" name="same_billing_address" id="same_billing_address" checked>
              {% else %}
              <input type="checkbox" class="custom-control-input" name="same_billing_address" id="same_billing_address">
              {% endif %}
              <label class="custom-control-label" for="same_billing_address">Billing address is the same as my shipping address</label>
            </div>
            <div class="custom-control custom-checkbox save-default-shipping">
              {% if order.save_default_shipping == True %}
              <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping" checked>
              {% else %}
               <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
               {% endif %}
              <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
            </div>
          </div>

          {% if default_shipping_address %}
          <div class="custom-control custom-checkbox use-default-shipping">
            {% if order.use_default_shipping == True %}
            <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping" checked> {% else %}
            <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping"> {% endif %}
            <label class="custom-control-label" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:10 }} </label>
          </div>
          {% endif %}

          <hr>



          <h3>Billing address</h3>
          <div class="hideable_billing_form">

            <!--address-->
            <div class="md-form mb-5">
              <input type="text" placeholder="1234 Main St" id="billing_address" value="{{order.billing_address.street_address}}" name="billing_address" class="form-control" required/>
              <label for="billing_address" class="">Address</label>
            </div>

            <!--address-2-->
            <div class="md-form mb-5">
              <input type="text" placeholder="Appartment or suite" id="billing_address2" value="{{order.billing_address.appartment_address}}" name="billing_address2" class="form-control" required/>
              <label for="billing_address2" class="">Address 2 (optional)</label>
            </div>

            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">
                <label for="id_billing_country">Country</label>
                {% get_countries as countries %}
                <select name="billing_country" id="id_billing_country" class="custom-select d-block w-100" required>
                  {% if order.billing_address.country %}
                    <option value="{{ order.billing_address.country.code }}" selected>{{ order.billing_address.country.name }}</option>
                  {% else %}
                    <option value="select-country" selected>(select country)</option>
                  {% endif %}
                  {% for country in countries %}
                    <option value="{{ country.code }}">{{ country.name }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <label for="billing_zip_code">Zip</label>
                <input type="text" placeholder="Zip code" id="billing_zip_code" value="{{order.billing_address.zip_code}}" name="billing_zip_code" class="form-control" minlength='6' maxlength='12' required/>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>

            <div class="custom-control custom-checkbox save-default-billing">
              {% if order.save_default_billing == True %}
              <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing" checked>
              {% else %}
              <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
              {% endif %}
              <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
            </div>
          </div>

          {% if default_billing_address %}
          <div class="custom-control custom-checkbox use-default-billing">
            {% if order.use_default_billing == True %}
            <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing" checked> {% else %}
            <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing"> {% endif %}
            <label class="custom-control-label" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:10 }} </label>
          </div>
          {% endif %}

          <hr>

          <h3>Payment option</h3>

          <div class="d-block my-3">
            {% for value, name in form.fields.payment_option.choices %}
            <div class="custom-control custom-radio">
              {% if order.payment_option == value %}
              <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" checked required>
              {% else %}
              <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required> {% endif %}
              <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
            </div>
            {% endfor %}
          </div>
          <hr class="mb-4">
          <a class="btn btn-primary" href="/shoppingcart/order_summary/">Back To Summary</a>
          <button class="btn btn-warning" type="submit">Continue to payment</button>
        </form>
      </div>
    </div>

    <!--Grid column-->
    <div class="col-md-4 mb-4">
      <!-- Order Snippet -->
      {% include 'includes/order_snippet.html' %}
    </div>
  </div>
</div>
{% endblock %} {% block custom_js %}
<script src="{% static 'js/custom/checkout.js' %}"></script>
{% endblock %}
