{% extends 'base.html' %}
{% block custom_title %}
<title>Refund</title>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Request Refund Form -->
    <div class="container">
        <div class="table-responsive text-nowrap">
            <h2>Request Refund</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-primary" href="/">Back To Home</a>
                <button type="submit" class="btn btn-warning">Submit Request</button>
            </form>
        </div>
    </div>
{% endblock %}
