{% extends 'base.html' %}
{% load static %}
{% block custom_title %}
<title>Update Card Details</title>
{% endblock %} {% block content %}

<article class="card content-section">
    <div class="card-body p-5">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-tab-card">
                <form role="form">

                    <div class="form-group">
                        <label for="cardNumber">Card number</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="cardNumber" minlength="16" maxlength="16" placeholder="">
                            <div class="input-group-append">
                                <span class="input-group-text text-muted">
					<i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
					<i class="fab fa-cc-mastercard"></i> 
				</span>
                            </div>
                        </div>
                    </div>
                    <!-- form-group.// -->

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label><span class="hidden-xs">Expiration</span> </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="MM" name="cardExpMonth" minlength="2" maxlength="2" required>
                                    <input type="text" class="form-control" placeholder="YY" name="cardExpYear" minlength="4" maxlength="4" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                                <input type="text" class="form-control" name="cardCVV" minlength="3" maxlength="4" required>
                            </div>
                            <!-- form-group.// -->
                        </div>
                    </div>
                    <!-- row.// -->
                    <button class="subscribe btn btn-primary" type="button">Update Card</button>
                </form>
            </div>
        </div>
</article>
<!-- tab-pane.// -->
{% endblock %}
{% block custom_js %}
<script src="{% static 'js/custom/card_validation.js' %}"></script>
{% endblock %}
