<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block page_title %}
    {% endblock %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-mtS696VnV9qeIoC8w/PrPoRzJ5gwydRVn0oQ9b+RJOPxE1Z1jXuuJcyeNxvNZhdx" crossorigin="anonymous">
</head>

<body>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block body_js %}
    {% endblock body_js %}
</body>
   {% includes/_navbar.html %}
    
    <!-- Alert messages -->
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    
   {% includes/_footer.html %}
</html>
