/* ---------------------------------------------- Error pages ------------------------- */

body { 
    background: #fafafa;
}

.error-template {
    padding: 2.5rem 0.9375rem;
    text-align: center;
}

.error-actions {
    margin-top:0.9375rem;
    margin-bottom:0.9375rem;
}

.error-actions .btn {
    margin-right:0.625rem; 
}